html {
    min-height:100%;
}

body {
    background: rgb(0,119,182);
    background: linear-gradient(135deg, rgba(215,107,0,1) 0%, rgba(221,144,66,1) 100%);
    background-repeat: no-repeat;
    /* background-size:100%; */
    color: #3c0000;
    font-family: 'Nanum Gothic Coding', monospace;
}

nav {
    font-weight: 700;
}

.navbar-toggler-icon, .navbar-toggler {
    background-color: rgba(255,193,7,1);
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
}

.banner {
    width: 100%;
}

.resize {
    max-width:100%;
    height:auto;
}

h1 {
    font-weight: 700;
}