{% extends 'base.html' %}

{% block head %}
<title>Halloween Display List</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Select a display to view further details</h1>
{% if displays|length < 1 %}
    <h4>There are no displays. Create one above!</h4>
{% else %}
<form class="form form-group" action "/list" method="POST">
    <table>
        <tr>
            <td>
                <label for="postcode">Postcode</label>
                <input type="text" name="postcode" id="postcode" class="form-control" value="{{ postcode }}">
            </td>
            <td class="align-bottom">
                <input type="submit" value="Filter">
            </td>
        </tr>
    </table>
</form>
<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Display</th>
                <th scope="col">Street Address</th>
                <th scope="col">Postcode</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for display in displays %}
                <tr>
                    <td><a href="/view/{{display.id}}">{{ display.name }}</a></td>
                    <td>{{ display.street1 }}</td>
                    <td>{{ display.postcode }}</td>
                    <td>{{ display.type }}</td>
                    <td>
                        <span class="material-symbols-outlined">
                            <a class="listbutton" href="/view/{{display.id}}">visibility</a>
                        </span>
                        <span class="material-symbols-outlined">
                            <a class="listbutton" href="/update/{{display.id}}">edit</a>
                        </span>
                        <span class="material-symbols-outlined">
                            <a class="listbutton" href="/delete/{{display.id}}">delete</a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}
